.footer{
  background-color: #2e282a;
  color: #fff;
  padding: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.social_list{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li{
  margin: 0 1em;
}

.social_list li:hover{
  color: #ffc914;
}

.social_list svg{
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right{
  margin-top: 0.5em;
  color: #fff;
}

.copy_right span{
  font-weight: bold;
  color: #ffc914;
}